
$white-marble: rgba(255,248,244,0.8);
$light-green: rgba(200,255,212,0.5);

body {
  background-color: $light-green;
}

/* SIDEBAR */
#sidebar {
  background-color: rgba(255,255,255,0.4);
  height: 100%;
  position: fixed !important;
  right: 0;
  margin-right: 5em;
  margin-top: 2em;
}

/* ARTICLE PAGE */
.blog {
  margin: 1em;
  #blog-title {
    margin: 1.5em;
    font-size: 2em;
  }
  #blog-content {
    margin: 1em;
    text-align: justify;
    text-justify: inter-word;
  }
}
